/* begin comments */

.comments h1,
.comment-form h2 {
    font-size: 1em;
}

.comment-form {

    border-top: 1px solid #aaa;
}

.comment-form .instructions {
    font-size: .8em;
    color: #777;
}

.comment, .comment-body {
    overflow: hidden;
}

a{
	text-decoration:none;
	color: #FE7286;
}

.comment {
    margin-top: 1em;
}

.comment:first-child {
    margin-top: 0;
}

.comment > .pull-left {
    margin-right: 10px;
    float: left;
}

.comment .comment-body {
    font-size: .9em;
}

.comment .comment-body div + p {
    margin-top: 4px;
    line-height: 1.3em;
}

.comment > .pull-left img {
    width: 40px; 
    height: 40px;
}

.comment .author {
    font-weight: bold;
    color: darkblue;
}

.comment .web {
    font-size: .8em;
    color: #0074a2;
}

.comment time {
    font-size: .8em;
    color: #888;
}

.comment-form p.textarea {
    margin: 0;
}

.comment-form  label {
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    font-size: .9em;
}


.comment-form input[type=text] {
    padding: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
        border-radius: 3px;
    border: 1px solid #999;
    width: 40%;
}

.comment-form textarea {
    width: 60%;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #999;
    padding: 8px;
    font-size: 0.8em;
    font-family: arial,sans-serif;
}

p.textarea img {

    vertical-align: top;
}

.gravatar-large {
    width: 60px;
    height: 60px;
}
